#body {
    background-color: black;
}

.inicio {
    background-color: azure;
}


.div1 {
    height: 110px;
    width: auto;
    background-color: darkslategrey ;
    
}


.contenedor {
    width: 1300px;
    height: 450px;
    margin-left: 150px;
    margin-top: 70px;
    background-color: #bfd0ef;
    border: black;
    border: darkslategray 2px solid;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}


.titulo {
    padding: 10px 90px;
    margin-top: 50px;
}

#head {
    padding: 30px 10px;
    font-size: large;
}

#img {
    width: 160px;
    height: 100px;
    padding: 15px 900px;
}

#lista {
    font-size: large;
}

.a1{
    color: ghostwhite;
}
.a2 {
    color: ghostwhite;
}

.div3Inferior {
    bottom: 0;
    height: 34px;
    padding: 13px 0 4px;
    position: fixed;
    width: 100%;
    z-index: 5000;
    background-color: darkslategrey;
    font-size: large;
}

.a3 {
    padding: 0 600px;
}
.login{
    border-radius: 6px 6px 6px 6px;
    background-color: #E8E8EB;
    margin: 10px 25px 25px 10px;
    
}

.inputForm{
    border-radius: 3px 3px 3px 3px;
    margin: 10px 25px 25px 10px;
    
}
.submitButton{
    border-radius: 3px 3px 3px 3px;    
    margin: 10px 10px 10px 10px;
    
}